.nav-link{
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #7a40b1;
  transition: width 0.3s ease;
}

.nav-link.active-link::after{
  width: 100%;
}

.nav-link:hover{
  color: #7a40b1;
}

@media (max-width: 768px) {
    .offcanvas.offcanvas-end {
      width: 70% !important;
    }
}

.social-dropdown {
  animation: dropdownFade 0.35s ease forwards;
  transform-origin: top;
  opacity: 0;
}

@keyframes dropdownFade {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.social-link {
  padding: 8px 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  transition: all 0.25s ease;
}

.social-link:hover {
  background: #f0f0f0;
  transform: translateX(4px);
}

.social-link span {
  transition: color 0.25s ease;
}

.social-link:hover span {
  color: #0d6efd !important;
}

.social-dropdown-box {
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  right:5px;
}
